@model IEnumerable<MVCEliminatoria_EdgarDuarte_1193520.Models.SP_ListarPosicionesResult>


@{
    ViewBag.Title = "index";
}

<h2>Puntaje de los equipos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Puntos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolesAF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolesEC)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Puntos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolesAF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GolesAF)
        </td>
        
        
    </tr>
}

</table>
