@model MVCEliminatoria_EdgarDuarte_1193520.Models.Detalle

@{
    ViewBag.Title = "Detalle";
}

<h2>View</h2>


@using (Html.BeginForm("RegistroDetalle", "Equipo",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>detalle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fkIdFecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.fkIdFecha, (List<SelectListItem>)ViewBag.lista)
               
                @Html.ValidationMessageFor(model => model.fkIdFecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.goles1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.goles1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.goles1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.goles2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.goles2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.goles2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    <span class="alert alert-danger">ViewBag.error</span>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
